<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="fav.png" type="image/x-icon">
        <title>lista de tarefas</title>
    </head>

    <body>
        
        <main id="app">
            
            <section class="todo-list">
                
                
                <h3>Lista de Tarefas Local Storage</h3>
                
                <div class="all-todos">
                    <div class="single-todo" v-for="(item, index) in list" :class="{done : item.done}" @click="item.done = !item.done">
                            <p>{{item.title}}</p>
                            <img class="delete" @click.stop="deleteItem(index)" src="https://cdn-icons-png.flaticon.com/512/542/542724.png" alt="delete">
    
                    </div>
                </div>

                <button class="clear" v-if="list.length > 0" @click="list=[]" >Limpar tudo</button>

                <input class="input" type="text" placeholder="Escreva uma nova tarefa..." v-model="newItem.title">
                <button class="add" @click="addItem()">Adicionar</button>

                <div class="instructions">
                    Instruções:
                    <ul>
                        <li>Clique no texto da tarefa para alternar entre feita / não feita</li>
                        <li>Use o botão limpar tudo para remover todas as tarefas</li>
                        <li>Use o input para adicionar novas tarefas</li>
                    </ul>
                </div>
            </section>

        </main>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="scripts.js"></script>
    </body>

</html>